<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen p-20">

  <div class="nav mb-10">
    <a href="/read" class="text-blue-500">Read Users</a>
  </div>

  <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Update User</h2>

    <!-- User Creation Form -->
    <form action="/update/<%= user._id%>" method="post">

      <!-- Name Input -->
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700" >Name</label>
        <input type="text" id="username" value='<%= user.name%>' name="name" placeholder="Enter your username.">
      </div>

      <!-- Email Input -->
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="text" id="email" value="<%= user.email%>" name="email" placeholder="Enter your email.">
      </div>

      <!-- Image URL Input -->
      <div>
        <label for="image" class="block text-sm font-medium text-gray-700">Image URL</label>
        <input type="text" value="<%= user.image%>" name="image" placeholder="Enter your imageurl.">
      </div>

      <!-- Submit Button -->
      <div>
        <button type="submit"
          class="w-full bg-yellow-300 text-black py-2 px-4 rounded-md hover:bg-yellow-400 transition duration-200">Create
          User</button>
      </div>

    </form>
  </div>

</body>

</html>